@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --nao-metais: rgb(169, 217, 91);
  --metais-alcalinos: rgb(240, 194, 88);
  --semimetais: rgb(117, 200, 184);
  --outros-metais: rgb(165, 202, 214);
  --lantanideos: rgb(161, 219, 222);
  --gases-nobres: rgb(119, 178, 228);
  --metais-alcalinos-terrosos: rgb(231, 229, 84);
  --halogenios: rgb(181, 225, 241);
  --metais-de-transicao: rgb(238, 158, 173);
  --actinidios: rgb(226, 175, 213);
  --borda: rgba(0, 0, 0, 5%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

.container {
  overflow: hidden;
  height: 100vw;
}

.n-atom {
  position: relative;
  top: 5px;
  left: 5px;
  font-size: 12px;
}

.s-atom {
  text-align: center;
  margin: 1px;
  font-weight: bold;
  font-size: 20px;
}

.nome {
  text-align: center;
  margin: 1px;
  font-size: 12px;
}

.p-atom {
  text-align: center;
  margin: 3px;
  font-size: 12px;
}

ul {
  width: 100%;
  height: 5%;
}

li {
  list-style-type: none;
  height: 10%;
  width: 5%;
  border: groove 1.5px rgba(0, 0, 0, 5%);
  transition: all ease 0.3s;
}

li:hover {
  height: 100%;
}

.grid_ul {
  display: flex;
  margin-left: 5%;
  margin-top: 4rem;
}

.grid_ul p {
  width: 5vw;
  height: 4vw;
  text-align: center;
}

.grid {
  width: 5%;
  height: 5%;
  text-align: center;
  vertical-align: middle;
  font-size: 1rem;
}

.legenda {
  display: flex;

}

.legenda li {
  display: flex;
  top: 50%;
  text-align: center;
  justify-content: center;
  transform: translateX(-50%);
  list-style-type: none;
  height: 100%;
  width: 10%;
  border: groove 1.5px rgba(0, 0, 0, 5%);
}